/.vs/jcCCL/v14/.suo
/UpgradeLog.htm
/jcCCL.Mobile/jcCCL.Mobile.WinPhone/obj/Release/App.g.i.cs
/jcCCL.Mobile/jcCCL.Mobile.WinPhone/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcCCL.Mobile/jcCCL.Mobile.WinPhone/obj/Release/MainPage.g.i.cs
/jcCCL.Mobile/jcCCL.Mobile.WinPhone/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcCCL.Mobile/jcCCL.Mobile.WinPhone/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcCCL.Mobile/jcCCL.Mobile.WinPhone/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcCCL.Mobile/jcCCL.Mobile/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcCCL.Mobile/jcCCL.Mobile/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcCCL.Mobile/jcCCL.Mobile/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcCCL.Mobile/jcCCL.Mobile/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcCCL.PCL/README_FIRST.txt
/jcCCL.PCL/bin/Release/Newtonsoft.Json.dll
/jcCCL.PCL/bin/Release/Newtonsoft.Json.xml
/jcCCL.PCL/bin/Release/System.Collections.Immutable.dll
/jcCCL.PCL/bin/Release/System.Collections.Immutable.xml
/jcCCL.PCL/bin/Release/jcCCL.PCL.dll
/jcCCL.PCL/bin/Release/jcCCL.PCL.pdb
/jcCCL.PCL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcCCL.PCL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcCCL.PCL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcCCL.PCL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcCCL.PCL/obj/Release/jcCCL.PCL.csproj.FileListAbsolute.txt
/jcCCL.PCL/obj/Release/jcCCL.PCL.csprojResolveAssemblyReference.cache
/jcCCL.PCL/obj/Release/jcCCL.PCL.dll
/jcCCL.PCL/obj/Release/jcCCL.PCL.pdb
/jcCCL.WPF/bin/Release/jcCCL.WPF.exe.config
/jcCCL.WPF/bin/Release/jcCCL.WPF.vshost.exe
/jcCCL.WPF/bin/Release/jcCCL.WPF.vshost.exe.config
/jcCCL.WPF/bin/Release/jcCCL.WPF.vshost.exe.manifest
/jcCCL.WPF/obj/Release/App.g.i.cs
/jcCCL.WPF/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcCCL.WPF/obj/Release/GeneratedInternalTypeHelper.g.i.cs
/jcCCL.WPF/obj/Release/InfoWindow.g.i.cs
/jcCCL.WPF/obj/Release/MainWindow.g.i.cs
/jcCCL.WPF/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcCCL.WPF/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcCCL.WPF/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcCCL.WPF/obj/Release/jcCCL.WPF.csproj.FileListAbsolute.txt
/jcCCL.WPF/obj/Release/jcCCL.WPF_MarkupCompile.i.cache
/jcCCL.WPF/obj/Release/jcCCL.WPF_MarkupCompile.i.lref
/jcCCL.WindwsStore/obj/Release/App.g.cs
/jcCCL.WindwsStore/obj/Release/App.g.i.cs
/jcCCL.WindwsStore/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/jcCCL.WindwsStore/obj/Release/MainPage.g.cs
/jcCCL.WindwsStore/obj/Release/MainPage.g.i.cs
/jcCCL.WindwsStore/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcCCL.WindwsStore/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcCCL.WindwsStore/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcCCL.WindwsStore/obj/Release/XamlSaveStateFile.xml
/jcCCL.WindwsStore/obj/Release/XamlTypeInfo.g.cs
